body{
font-family:Arial;
background:#1e2a38;
color:white;
text-align:center;
}

.stage{
background:white;
color:black;
padding:20px;
margin:30px auto;
width:70%;
border-radius:50px;
font-weight:bold;
}

.row{
display:flex;
justify-content:center;
gap:10px;
margin-bottom:10px;
}

.seat{
width:40px;
height:40px;
display:flex;
align-items:center;
justify-content:center;
border-radius:6px;
font-size:12px;
cursor:pointer;
}

.standard{
background:#3498db;
}

.vip{
background:#ffd700;
color:black;
}

.booked{
background:gray;
cursor:not-allowed;
}

.selected{
background:#2ecc71;
}

.aisle{
width:40px;
}